/*----------------------------------------------
コメントに従い、プロパティを記述しましょう。
----------------------------------------------*/

*{
	margin:0;
	padding:0;
}
#global_navi{
	width:800px;
	height:50px;
	margin:50px auto;
}
#global_navi ul{
	width:805px;
	list-style:none;
}
#global_navi ul li{
	float:left;
	border-left:1px solid #fff;
}
#global_navi ul li a{
	width:160px;
	height:50px;
	background:#09f;
	display:block;
	text-decoration:none;
	text-align:center;
	line-height:50px;
	-webkit-transition-property:transform; 
	transition-property:transform; 
	-webkit-transition-duration:0.2s; 
	transition-duration:0.2s;
	
}
#global_navi ul li a:link{
	color:#fff;
}
#global_navi ul li a:hover{
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}
